{% extends 'blog/shell.html' %}
{% block page %}

    <div class="blog">
        {% if recent_blog_posts %}
            {% for post in recent_blog_posts %}
                <div class="blogheader">
                    <a href="{{ post.slug }}">{{ post.title }}</a>
                </div>
                <div class="blogsubmit">
                    <p>by {{ post.author }}, {{ post.submitted }}</p>
                </div>

                <div>{{ post.entry|safe }}</div>
                <hr>
            {% endfor %}
            <a style="font-size: 18px" href="{% url 'blog:archive' %}">see all the posts</a>
            <div style="text-align: right">{{ last_queried }}</div>
        {% else %}
            <p>Still no blog posts here :sadface</p>
        {% endif %}
    </div>

{% endblock %}