<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <title>Blog Development</title>
</head>
<body>

<div id="development">

    <div class="envision">
        <h3>Progress</h3>
        <div class="progress">
            <div class="progressbar" style="width:50%">
                Go on. It's your dream!
            </div>
        </div>
        <div class="milestone">
            <table style="width: 100%">
                <tr>
                    <td>concept and wireframe</td>
                    <td>design</td>
                    <td>backend</td>
                    <td>caching</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <p>10% wireframe; 20% design; 40% backend and database; 50% caching; 70% javascript; 80% content;
            90% cookies, security and analytics;
            95% mobile friendly; 100% domain and lunch</p>
    </div>

    <a href="/">back to frontpage</a>

    <h4>Goals</h4>
    <p>Develop a meaningful blog like zen habit</p>
    <p>Remember, keep it clean and simple and it will be easy</p>


    <h4>To do</h4>
    <ul>
        <li>Domain name and domain registration</li>
        <li>First blog post</li>
        <li>Html/css design
            <ul>
                <li>social network references</li>
                <li>cv</li>
            </ul>
        </li>
        <li>Dynamic content (javascript)</li>
        <li>Setup google analytics</li>
        <li>Managing cookies</li>
        <li>Security:</li>
            <ul>
                <li>spam comments, bot comments</li>
                <li>backup development data on github</li>
            </ul>
        <li>Caching: - blogposts, guestbookcomments</li>
        <li>Build the portfolio</li>
        <li>Language issue</li>
        <li>Make it mobile friendly</li>
    </ul>

    <h4>Deadlines</h4>
    <ul>
        <li><h4 style="margin: 0">Going Online until 2015/12/31</h4></li>
        <li>Mobile friendly and the rest - 2015/12/13</li>
        <li>Cookies and analytics - 2015/11/30</li>
        <li>Add with content (this also includes the first blog post as a draft!) until 2015/11/18</li>
        <li>Convert static design and add first javascript until 2015/11/10</li>
        <li>Caching and security - 2015/10/31</li>
        <li>Backend development and databse until 2015/10/21</li>
        <li class="kindaok">Think through wireframe again until 2015/09/27</li>
        <li class="kindaok">Static design for front page, blog, slag, contact and guestbook until 2015/09/26</li>
        <li class="kindaok">Create shell until 2015/09/18 (2015/09/21)</li>
        <li class="succeed">Make development page with project status visualized, goals, to do list, deadlines until 2015/09/15</li>
    </ul>

    <h4>Lern or read</h4>
    <ul>
        <li>Current web standards for</li>
        <li>Testing javascript examples for web sites</li>
    </ul>

    <h4>Sources of web site development process</h4>
    <ul>
        <li><a href="http://www.smashingmagazine.com/2011/06/following-a-web-design-process/">smashingmagazine.com</a> </li>
        <li><a href="https://typekit.com/fonts">fonts</a></li>
    </ul>

</div>

</body>
</html>