{% extends 'blog/shell.html' %}
{% block page %}
    <h2>How about that</h2>
    <p><strong>What content you ask?</strong> It's about writing my book about how to study anything.
        This one contains the chapter about procrastiantion, about different types of exams
    like the powerpoint slide exam etc. and how to exploit by different types of lecturerers etc.
        And also a note about taking responsibilty of myself. How to study in the library
        (extroverts should never take
    extroverts with them. The author of this book should not be me, but an urban legend.</p>
    <h4>Design</h4>
    <table>
        <tr>
            <td>To do</td>
            <td>Done</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>table and list design</li>
                    <li>(optional) book mark mini picture</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>playing around with html</li>
                    <li>shell</li>
                    <li>link style, hover and highlighted texts</li>
                </ul>
            </td>
        </tr>
    </table>

    <!-- Now what? -->
{% endblock %}