{% extends 'blog/shell.html' %}
{% block page %}

    <h3>Guestbook</h3>

    {% if comments %}
        {% for comment in comments %}
        <table>
            <tr>
                <td style="color: darkblue; font-size: 16px;">#{{ comment.id }}: {{ comment.name }}</td>
            </tr>
            <tr>
                <td class="blogsubmit">{{ comment.submitted }}</td>
            </tr>
        </table>
        <div>{{ comment.comment }}</div>
        <hr>
        {% endfor %}
    {% else %}
        <p>I wonder who will be the first one to write something down here.</p>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {% if has_error %}
    <p class="errorlist">Try again with name and comment</p>
    {% endif %}
    <p>Name:</p>
    {{ form.name.errors }}
    {{ form.name }}
    <p>Comment:</p>
    {{ form.comment.errors }}
    {{ form.comment }}
    <div><input type="submit"></div>
    </form>

{% endblock %}

